<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
          <div class="navigation">
            <nav class="site-nav">
              <div class="trigger">
                <ul class="nav nav-pills">
                  {% for page in site.pages %}
                  {% if page.title %}
                  <li>
                    <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                    {% endif %}
                    {% endfor %}
              </div>
            </nav>
          </div>
        {{ content }}
        <div class="sidebar">
          <div class="posts">
            <ul>
              {% for post in site.posts %}
              <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/js/bootstrap.js"></script>
<script>setInterval(function() {
$(".cursor").animate({opacity:0},200,"linear",function(){
  $(this).animate({opacity:1},200);
})}, 1000);</script>

  </body>
</html>
