<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
          <div class="navigation">
            <div class="trigger">
              <ul class="nav nav-pills">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Posts<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    {% for post in site.posts %}
                    <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
                {% for page in site.pages %}
                {% if page.title %}
                <li>
                  <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                  {% endif %}
                  {% endfor %}
            </div>
          </div>
          {{ content }}
      </div>
    </div>

    {% include footer.html %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/js/bootstrap.js"></script>
<script>setInterval(function() {
$(".cursor").animate({opacity:1},500,"linear",function(){
  $(this).delay(500).animate({opacity:0},500);
})}, 1000);</script>

  </body>
</html>
